.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.sticky-header th {
  position: sticky;
  top: 0;
  z-index: 2;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
}

.table-header-row > th {
  vertical-align: middle;
}

.table-row {
  cursor: pointer;
}

.table-row > td {
  vertical-align: middle;
}

.table-selected-row > td {
  background-color: var(--bs-table-hover-bg) !important;
  font-weight: bold;
}

.table-action-icons {
  width: 90px;
}
