.mainHead {
    font-size: x-large;
    color: #0D295E;
    font-weight: bolder;
    padding: 2%;
    overflow-y: auto;
}

.mainInform {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-evenly;
    justify-content: space-evenly;
    padding: 3%;
    flex-wrap: wrap;
}

.inform {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: stretch;
    border: 3px solid white;
    border-radius: 10px;
    padding: 2%;
    width: 20vw;
    height: 20vh;
    margin: 1%;
    min-width: 50px;
    background-color:#0063A0 ;
}

.inform1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.subHead {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    min-width: 450px;
}

.subBody { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 3%;
    max-width: 600px;
    max-height: 600px;
    border-top: 5px solid blue;
    border-bottom: 5px solid blue;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tableDesign {
  max-width: 600px;
  max-height: 450px;
  padding-left: 10px;
  padding-right: 10px;
  overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

.table {
    width: 100%;
  }
  
  /* Style the table headers */
  th {
    color: black;
    text-align: center;
    padding: 10px;
    border-bottom: 3px solid blue;
  }
  
  /* Style the table cells */
  td {
    padding: 10px;
  }
  
  /* Style alternating rows for better readability */
  tbody tr {
    border: 1px solid blue;
    margin: 5px;
    border-radius: 15px;
  }