.module-update-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    /* Set a high z-index value to bring it to the front */
    background-color: white;
    /* Add background color or styles as needed */
    width: 400px;
    /* Set width according to your design */
    padding: 20px;
    /* Add padding as needed */
    border: 1px solid #ccc;
    /* Add border styles as needed */
    border-radius: 5px;
    /* Add border radius as needed */
}