* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainBackground {
    background: url("../../assets/Images/back.jpg") center/cover no-repeat;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 300px;
}

.ComponentBackground {
    position: relative;
    width: 50%;
    border: 4px solid transparent;
    border-top: 6px solid #0077C0;
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(250, 250, 250);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    min-width: 250px;
}

.Heading {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: baseline;
    align-items: center;
    padding: 2%;
}

.back-button {
    background: #0077C0;
    border: none;
    padding: 10px;
    cursor: pointer;
    outline: none;
    margin-right: 10px;
    border-radius: 50%;
    /* Ensure the button is rounded */
    transition: background-color 0.3s ease;
    /* Add transition for smooth hover effect */
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-button:hover {
    background: rgba(92, 92, 165, 0.8);
    /* Change the background color on hover */
}

.back-button .icon {
    color: #fff;
    /* Set the color of the icon to white */
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.Designer {
    width: 200px;
    height: auto;
    border-radius: 5px 5px 5px 5px;
}

.head1 {
    text-align: center;
    color: #0063A0;
    font-weight: bold;
    font-size: x-large;
    padding: 1%;
    margin: 0%;
}

.bodyContent {
    width: 35vw;
    height: 30vh;
    max-height: 50%;
    max-width: 50%;
    min-width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.login-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    position: relative;
}

.image-container {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
    flex: 1;
}

.form-group {
    margin-bottom: 15px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

button {
    padding: 10px 20px;
    background-color: #0077C0;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

a {
    color: #0077C0;
    text-decoration: none;
}

button:hover,
a:hover {
    background-color: transparent;
}

.signin-input-with-icon {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border: none;
    margin: 10px 0px;
    border-radius: 5px;
    border-bottom:3px solid #0077C0;
    padding-left: 10px;
}

.input-icon {
    left: 10px;
    top: calc(50% - 0.5em);
    color: #aaa;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: #aaa;
}

.signin-input-field {
    padding: 10px;
    border: 0px;
    background-color: transparent;
    box-shadow: none;
    border-bottom: 0px;
    width: 100%;
}

.signin-form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
}

.forgot-password{
    padding: 10px;
}

.forgot-password:hover{
    background-color: transparent;
    text-decoration: underline;
}