.setting-main-container2 {
    margin-top: 10px;
    width: 100%;
    border-top: 6px solid #0077C0;
    border-radius: 10px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 3;
    height: 85vh;
}

.setting-field{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: initial;
}

.setting-update-main-container{
    margin-top: 10px;
    width: 50%;
    border-top: 6px solid #0077C0;
    border-radius: 10px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 3;
}

.setting-person-icon-container{
    width: 200px;        
    height: 200px;      
    border-radius: 50%;        
    background-color: white;
    display: flex;        
    align-items: center;        
    justify-content: center;
    border-color: #0077C0;
    border-width: 1px;
    
}

.setting-person-icon-container img {
    width: 50%;
    height: 50%;
    object-fit: cover;
}



.setting-content-label{
    display: flex;
    flex-direction: row;
}

.update-setting-input-form{
    padding: 5%;
    width: 100%;
}

.closeUpdateSettingWindow {
    color: red;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 50px;
    margin-left: 95%;
    width: 30px;
    height: 30px;
}

.closeUpdateSettingWindow:hover {
    color: white;
    background-color: red;

}
.setting-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: initial;
}

.setting-label{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding: 5px;
}

.setting-label #setting-label-1{
    font-weight: bold;
    font-size: large;
}

.setting-page-button-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.setting-page-button-container button{
    margin: 1% 40% 1% 40%;
}