.signup-container {
    background: url("../../../assets/Images/back.jpg") center/cover no-repeat;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 300px;
}

.signup-main-container {
    position: relative;
    width: 50%;
    border: 4px solid transparent;
    border-top: 6px solid #0077C0;
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(250, 250, 250, 0.97);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    min-width: 250px;
}

.back-button {
    background: #0077C0;
    border: none;
    padding: 10px;
    cursor: pointer;
    outline: none;
    margin-right: 10px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-button:hover {
    background: rgba(92, 92, 165, 0.8);
}

.back-button .icon {
    color: #fff;
}

.logo {
    width: 200px;
    height: auto;
    border-radius: 5px;
}

h2 {
    text-align: center;
}

.login-container {
    display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
}

.image-container {
    flex: 1;
    padding-right: 20px;
}

.form-container {
    flex: 1;
}

button {
    padding: 10px 20px;
    background-color: #0077C0;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

a {
    color: #0077C0;
    text-decoration: none;
}

a:hover {
    background-color: #0056b3;
}

.head2 {
    text-align: center;
    color: #0063A0;
    font-weight: bold;
    font-size: x-large;
    padding: 1%;
    margin: 0%;
}